<!DOCTYPE html>
<html class="no-js">
{% set bootstrap_version = '3.3.2' %}
{% set jquery_version = '2.1.3' %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="description" content="梅竹賽五倍祝福">
  <meta name="keywords" content="梅竹, 梅竹賽, 清大, 交大, 清交梅竹賽, 乙未梅竹">
  <meta name="author" content="Salas">
  <title>梅竹賽五倍祝福</title>
  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <link href="/static/css/materialize.min.css" rel="stylesheet">
</head>
<body style="background:#ededed">
<div class="row">
  <table class="col offset-s1 s10">
    <thead>
      <tr>
          <th data-field="name">Name</th>
          <th data-field="belong">Blong</th>
          <th data-field="phone">Phone</th>
          <th data-field="email">Email</th>
          <th data-field="shared">Shared</th>
          <th data-field="timestamp">Time</th>
      </tr>
    </thead>
    <tbody id="mlist">
    </tbody>
  </table>
  <p>
  <button id="raffle" class="btn waves-effect waves-light col offset-s1">抽獎</button>
  </p>
</div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/{{ jquery_version }}/jquery.min.js"></script>
  <script src="/static/js/materialize.min.js"></script>

  <script>
    $(function() {
      var people = [];
      var error = false;

      $('#raffle').click(function () {
        if(people.length == 0 && error == false) {
          $.post('/get/raffle', function(data) {
            var data = data.rafflelist;
            for (var i = data.length - 1; i >= 0; i--) {
              if(data[i].shared) people.push(data[i]);
              people.push(data[i]);
            };
            do_raffle();
          });
        }
        do_raffle();
      });

      function do_raffle() {
        if(people.length > 0) {
          var i = getRandomInt(0, people.length - 1);
          getUser(people[i].id);
          people.splice(i, 1);
        } else {
          error = true;
        }
      }

      function createNode(d) {
        var e = document.createElement('tr');
        var f = new Date(d.timestamp);
        e.insertCell(0).innerHTML = d.name;
        e.insertCell(1).innerHTML = d.school + d.department;
        e.insertCell(2).innerHTML = d.phone;
        e.insertCell(3).innerHTML = d.mail;
        e.insertCell(4).innerHTML = d.shared;
        e.insertCell(5).innerHTML = f.toLocaleDateString();
        console.log(d.name, d.school);
        document.getElementById("mlist").appendChild(e);
      }

      function getUser(id) {
        $.post('/get/users/' + id, function(data) {
            var data = data.user;
            console.log(data);
            createNode(data);
        });
      }

      function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
      }

    });
  </script>
</body>
</html>
