<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="description" content="梅竹賽五倍祝福">
  <meta name="keywords" content="梅竹, 梅竹賽, 清大, 交大, 清交梅竹賽, 乙未梅竹">
  <meta name="author" content="Salas">
  <meta property="og:url" content="http://meichualumni.appspot.com/blessings" />
  <meta property="og:title" content="梅竹賽五倍祝福" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="乙未梅竹熱血開賽，一同為梅竹賽祈福！" />
  <meta property="og:image" content="http://i.imgur.com/uP7Z6zK.jpg" />

  <title>許梅竹一個未來</title>
  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <link href="/static/css/materialize.min.css" rel="stylesheet">
  <link href="/static/css/messageline.css" rel="stylesheet">
  <link href="/static/css/demo.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet">
</head>
<body style="background:#ededed">
  {% include 'includes/nav.html' %} {# pull in navbar #}
  <div class="wrap" style="margin-top:20px">
    <div class="t-content">
      <section id="home">
        {% include 'main_page.html' %}
      </section>
      <section id="content">
        <div class="row">
          {% include 'content.html' %}
        </div>
      </section>
      <section id="blessing">
        <div class="row">
          <div class="col offset-l2 s12 m8 l8">
          {% include 'includes/flash_message.html' %}
          {% include 'form.html' %}
          {% include 'list_messages.html' %}
          </div>
          <div class="col hide-on-small-only m3 l2">
            <ul class="section table-of-contents">
              <li><a href="#new-message-form">發表祝福</a></li>
              <li><a href="#mflow">看看祈福串</a></li>
            </ul>
          </div>
        </div>
      </section>
    </div><!-- /content -->
  </div><!-- /tabs -->

  {% include 'includes/footer.html' %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script src="/static/js/materialize.min.js"></script>
  <script src="/static/js/script.js"></script>
  {% block tail_script %}
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId: '372111392968616',
        version: 'v2.2',
        cookie: true,
        status: true,
        xfbml: true
      });
    };
    (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/zh_TW/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  </script>
  <script>
    $(function() {
      var nthu = {{ nthu }}, nctu = {{ nctu }};
      $("#progressbar1").progressbar({ value: false });
      $("#progressbar2").progressbar({ value: false });
      function bar(obj, n) {
        var b = obj,
            c = obj.find(".ui-progressbar-value"),
            d = obj.find(".progress-label"),
            total = nthu + nctu;
        b.progressbar("option", "value", 1);
        b.css({ 'background': '#333',
                'padding': '8px',
                'border-radius': '13px',
                'border': 'None'});
        c.css({ 'background': 'url(static/img/pbar-ani.gif)',
                'border-radius': '8px',
                'background-size': 'auto 100%'});
        c.addClass("ui-corner-right");
        c.animate({width: b.attr("value")+"%"}, 4000);
        $({v: 0}).animate({v: 100*n/total}, {
          duration: 4000,
          easing:'swing',
          step: function() {
              d.text("人氣指數："+Math.round(this.v*100)/100);
          },
          complete: function() {
            $('ul.tabs').tabs('select_tab', 'blessing');
            $(document).scrollTop( $("#header").offset().top );
          }
        });
      }
      $('.go').click(function(event){
        target = $(event.target);
        $(this).progressTimed(1.5);
        if(target.is('#go4nthu')) {
          nthu += 1;
          bar($("#progressbar1"), nthu);
        } else {
          nctu += 1;
          bar($("#progressbar2"), nctu);
        }
        e.preventDefault();
      });
      $('.scrollspy').scrollSpy();
      $('.tooltipped').tooltip({delay: 50});
      $('#new-message-form').submit(function(){
        $.post($(this).attr('action'), $(this).serialize(), function(d) {
          toast('資料送出!', 4000);
          var b = document.createElement('button');
          b.innerHTML = '分享';
          b.className = 'btn waves-effect waves-light right';
          b.onclick = function() {
            FB.ui({
              method: 'feed',
              link: window.location.href,
            },
            function(response) {
              if (response && response.post_id) {
                toast('分享成功!', 4000);
                $.post("/blessings/update", {'c':response.post_id,'d':d.mid},
                  function(){}
                );
              }
              location.reload();
            });
          }
          var c = createNode(new Date(), $('textarea[name="description"]').val(), $(':radio[name="school"]:checked').val(), $('#department').val());
          p = document.getElementById("mflow");
          p.insertBefore(c, p.firstChild);
          $('#somewhere').append(b);
          $('#new-message-form')[0].remove();
        }, 'json');
        return false;
      });
      {% if more %}
      $('#more').click(function(ev) {
        if(!$(this).val()) return false;
        $.get("/blessings/more", {'cursor': $(this).val()},
          function(d) {
            d.messages.forEach(function(m) {
              var c = createNode(
                m.timestamp,
                m.description,
                m.school,
                m.department);
              document.getElementById("mflow").appendChild(c);
              next = d.more ? d.next_src : '';
              $('#more').val(next);
            });
          }
        );
      });
      {% endif %}

      function createNode(dt, m, s, p) {
        var d = new Date(dt);
        var itm = document.getElementById("mflow").lastElementChild;
        var optd = { month: "short", day: "2-digit" },
            optt = { hour: "2-digit", minute: "2-digit" },
            cln = itm.cloneNode(true),
            e = cln.firstElementChild;
        e.children[0].children[0].textContent = d.toLocaleDateString("en-us", optd);
        e.children[0].children[1].textContent = d.toLocaleTimeString("en-us", optt);
        e.children[0].dateTime = d.toLocaleDateString("en-us", $.extend(optd, optt));
        e.children[2].children[0].textContent = m;
        e.children[3].children[0].src = s=="清華大學" ? "static/img/panda.jpg" : "static/img/fox.jpg"
        e.children[3].children[1].textContent = p;
        return cln;
      }
      // Floating-Fixed table of contents
      if ($('.table-of-contents').length) {
        var toc_offset = $('.table-of-contents').first().offset().top;
        $('.table-of-contents').each(function() {
          var origin = $(this);
          origin.pushpin({ top: toc_offset + $('header')[0].offsetHeight,
            bottom: $(document).height() - window.innerHeight });
        });
      }

    });
  </script>
  {% endblock %}
  {{ profiler_includes|safe }}
</body>
</html>
