<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="description" content="梅竹賽五倍祝福">
  <meta name="keywords" content="梅竹, 梅竹賽, 清大, 交大, 清交梅竹賽, 乙未梅竹">
  <meta name="author" content="Salas">
  <meta property="og:url" content="http://meichualumni.appspot.com/blessings" />
  <meta property="og:title" content="梅竹賽五倍祝福" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="乙未梅竹熱血開賽，一同為梅竹賽祈福！" />
  <meta property="og:image" content="http://i.imgur.com/uP7Z6zK.jpg" />
  <title>許梅竹一個未來</title>
  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <link href="/static/css/materialize.min.css" rel="stylesheet">
  <link href="/static/css/messageline.css" rel="stylesheet">
  <link href="/static/css/demo.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="http://masonry.desandro.com/masonry.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
  <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
  <script src="/static/js/materialize.min.js"></script>
  <script src="/static/js/jquery.pjax.min.js"></script>
  <script src="/static/js/ChartNew.js"></script>
  <script src="/static/js/blessing.js"></script>
  <style>
    li{word-break: break-all;}
  </style>
</head>
<body style="background:#E9EAED">
  <header>
    {% include 'nav.html' %}
  </header>

  <div id="main">
    {% include template %}
  </div>

  <footer class="page-footer purple accent-3 z-depth-1">
    {% include 'footer.html' %}
  </footer>


  {{ profiler_includes|safe }}
</body>
</html>
