<div class="row">
  <div class="col offset-l2 s12 m9 l8">
    <div class="card">
      <div class="card-content">
      <span id="origin" class="card-title purple-text section scrollspy">起源：</span>
      <p>梅竹賽本為兩校都非常重視之競技活動，不論學生或校友均對梅竹賽之舉辦抱持著極大的關注，2015年乙未梅竹賽將於3月展開一連串造勢活動及賽程，校友會亦希望能藉此增強並吸引校友們對梅竹賽及母校之關注，故將以【梅竹集氣及梅竹回顧】作為活動主旨，透過網頁上按讚與留言的方式為清華加油。</p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
      <span id="ac_time" class="card-title purple-text section scrollspy">活動時間：</span>
      <p>２月１６日－３月８日</p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
      <span id="main" class="card-title purple-text section scrollspy">活動說明：</span>
      <p>
      <ul>
        <li>Step 1.按下「我要集氣」</li>
        <li>Step 2.登錄個人資訊（姓名、系級、e-mail及電話）並留下一句對梅竹賽的回憶或祝福的話</li>
        <li>Step 3.分享此活動訊息於個人FB的訊息（分享可增加中獎機率哦！）</li>
        <li>完成上述動作，即有可能獲得抽獎機會。每人限一次機會。</li>
      </ul>
      </p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
      <span id="detail" class="card-title purple-text section scrollspy">獎項及抽獎方式：</span>
      <p>
        <p>抽獎方式：<br>
        自即日起至3/6日上午10:0止，統計「點選集氣及留言」之「前三名系級」，於該系級內之留言者，即可獲得抽獎機會。</p>
        <ul>
          <li>現金獎：</li>
          <li>頭獎：將於留言、集氣第一名的系級內成員隨機抽出一名幸運元，可獲得獎金20,000元。</li>
          <li>二獎：將於留言、集氣第二名的系級內成員隨機抽出一名幸運元，可獲得獎金15,000元。</li>
          <li>三獎：將於留言、集氣第三名的系級內成員隨機抽出一名幸運元，可獲得獎金10,000元。</li>
        </ul>
        ✩ 本抽獎活動只限於已畢業之校友，但也歡迎在校生留言為梅竹加油！
      </p>
      </div>
    </div>
  </div>
</div>
