<div class="col offset-l2 s12 m9 l8">

  <div class="card">
    <div class="card-content">
    <span id="origin" class="card-title purple-text section scrollspy">起源：</span>
    <p>梅竹賽本為兩校都非常重視之競技活動，不論學生或校友均對梅竹賽之舉辦抱持著極大的關注，適逢今年梅竹賽複賽，校友會希望能藉此增強並吸引校友們對梅竹賽及母校之關注，故將以【梅竹集氣】作為活動主旨，透過網頁上按讚與留言的方式為兩校加油。</p>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
    <span id="ac_time" class="card-title purple-text section scrollspy">活動時間：</span>
    <p>2/9-3/9（四週，2/18-23日為春節假期）</p>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
    <span id="main" class="card-title purple-text section scrollspy">活動說明：</span>
    <p>
    <ul>
      <li>透過宣傳管道發送活動資訊（活動網址），讓校友及學生至專屬網站進行集氣投票：
      <li>Step 1. 登錄個人資訊（學校、姓名、系級、e-mail及電話）</li>
      <li>Step 2. 於活動網址留下留言（如：清大必勝、交大必勝）</li>
      <li>Step 3. 分享此活動訊息於個人FB的訊息（分享可增加中獎機率哦！）</li>
      <li>完成上述動作，即可獲得抽獎機會。
    </ul>
    </p>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
    <span id="detail" class="card-title purple-text section scrollspy">獎項及抽獎方式：</span>
    <p>
      <ul>
        <li>採兩階段抽籤。
        <blockquote>
          第一階段：每周抽出小獎、現金獎/集氣福袋。（2/17、2/14、3/3日抽獎）<br>
          第二階段：抽出大獎，現金獎（3/9日抽獎）
        </blockquote>
        </li>
        <li>當週登陸之參與者僅能獲得當周抽獎機會，故每周均須重新登錄，並再次分享活動訊息，才能在參加次周抽獎。</li>
        <li>抽獎方式：直接由所有活動參加者中抽出。（不分清交）</li>
        <ul>
          <li>現金獎：</li>
          <li>頭獎：3/10日隨機抽出一名幸運元，可獲得獎金3000元。</li>
          <li>二獎：3/3日隨機抽出2名幸運元，每名可獲得獎金2000元。</li>
          <li>三獎：2/24日隨機抽出2名幸運元，每名可獲得獎金1500元。</li>
          <li>四獎：2/17日隨機抽出2名幸運元，每名可獲得獎金1000元。</li>
          <li>集氣福袋：自集氣的與會者中，每周抽出10名幸運兒，每名獲得集氣福袋。</li>
          福袋內容：清交兩校紀念品、禮券（水木、便利商店、百貨公司）…價值約1000以內，40份
        </ul>
      </ul>
    </p>
    </div>
  </div>

</div>

<div class="col hide-on-small-only m3 l2">
  <ul class="section table-of-contents">
    <li><a href="#origin">起源</a></li>
    <li><a href="#ac_time">活動時間</a></li>
    <li><a href="#main">活動說明</a></li>
    <li><a href="#detail">抽獎方式</a></li>
  </ul>
</div>
