<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <div class="row">
          <img class="col s4" src="https://i.minus.com/iNq9SuyBHDXQD.gif">
              <div class="col s8">
              <h5 class="white-text"><a class="white-text" href="http://alumni.web.nthu.edu.tw/bin/home.php">主辦單位：<br>清華大學校友會</a></h5>
              <p class="grey-text text-lighten-4">
                <ul class="white-text">
                <li>Tel:03-5162478</li>
                <li>Fax:03-5162477</li>
                <li>alumni@my.nthu.edu.tw</li>
                </ul>
              </p>
          </div>
      </div>
    </div>
    <div class="col l5 offset-l1 s12">
        <div class="row">
          <div class="col s8">
            <h5 class="white-text" style="font-size:1.3em">協辦單位：<br>
              <a class="white-text" href="http://alumni.web.nthu.edu.tw/bin/home.php">清華大學校友服務中心</a><br>
              <a class="white-text" href="http://nthumeichuwork.appspot.com/product.html">乙未梅竹工作會</a></h5>
            <p>
              <ul>
              <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/meichuwin">FB 粉絲專頁: 梅竹龐達熊</a></li>
              </ul>
            </p>
          </div>
          <img class="col s4" style="padding-top:10px;" src="static/img/mei.png">
        </div>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  建議使用支援 HTML5 瀏覽器：Firefox/Chrome 最新版
  <span class="grey-text text-lighten-4 right">National Tsing Hua University © 2015<a class="grey-text text-lighten-3" href="mailto:nthu.panda@gmail.com"> | 問題回報</a></span>
  </div>
</div>
