<div id="form" class="row z-depth-2">
  <form id="new-message-form" class="col s12" action="{{ url_for('new_message') }}" method="post" accept-charset="utf-8">
    {{ form.hidden_tag() }}
    <div class="row">
      <div class="input-field col s6">
        <input id="name" type="text" class="validate" name="name">
        <label for="name">姓名</label>
      </div>
      <div class="input-field col s6">
        <input id="phone" type="text" class="validate" name="phone">
        <label for="phone">電話</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="nthu" type="radio" name="school" value="清華大學" class="validate">
        <label for="nthu">清華大學</label>
        <input id="nctu" type="radio" name="school" value="交通大學" class="validate">
        <label for="nctu">交通大學</label>
      </div>
      <div class="input-field col s6">
        <input id="department" type="text" class="validate" name="department">
        <label for="department">系級</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" name="mail">
        <label for="email">聯絡信箱</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea class="materialize-textarea" name="description"></textarea>
        <label>祝福</label>
      </div>
    </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">送出
        <i class="mdi-content-send right"></i>
      </button>
  </form>
  <div class="card col s12">
    <div class="card-content">
      <span class="card-title purple-text">Facebook 分享</span>
      <p id="somewhere">share to fb will increase your lote prob.!</p>
    </div>
  </div>
</div>
