<div id="form" class="z-depth-3">
  <div class="col s12 card">
    <form id="new-message-form" action="{{ url_for('new_message') }}" method="post" accept-charset="utf-8">
      {{ form.hidden_tag() }}
      <div class="card-content"><span class="card-title pink-text text-accent-4">馬上留下對梅竹賽的回憶/祝福，就有機會參加抽獎哦！</span></div>
      <div class="row">
        <div class="input-field col s6">
          <input id="name" type="text" class="validate" name="name">
          <label for="name">姓名</label>
        </div>
        <div class="input-field col s6">
          <input id="phone" type="text" class="validate" name="phone">
          <label for="phone">電話</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          <select class="_browser-default" name="department">
            <option value="" disabled selected>系別</option>
            {% for subfield in form.department %}
            {{ subfield }}
            {% endfor %}
          </select>
        </div>
        <div class="input-field col s4">
          <select class="browser-default" name="grade">
            <option value="" disabled selected>系級</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="mail">
          <label for="email">聯絡信箱</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="account" type="text" class="validate" name="account">
          <label for="account">FB/Line 帳號 (選填)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea class="materialize-textarea" name="description"></textarea>
          <label>寫寫你對梅竹賽的回憶/祝福</label>
        </div>
      </div>

<p>
{% for error in form.recaptcha.errors %}
{{ error }}
{% endfor %}
{{ form.recaptcha }}
</p>
        <button class="btn waves-effect waves-light" type="submit" name="action">送出
          <i class="mdi-content-send right"></i>
        </button>
    </form>
    <div class="card-content">
      <span class="card-title purple-text">
        <img src="static/img/FB-f-Logo__blue_29.png" align="absmiddle" style="width:30px">
        Facebook 分享
      </span>
      <p id="somewhere">與 Facebook 好友分享梅竹集氣活動可增加抽獎機率唷！</p>
    </div>
  </div>
</div>

