<ul class="cbp_tmtimeline">
  {% for message in messages %}
  <li class="card-panel grey lighten-5 z-depth-1">
    <div class="row valign-wrapper">

      <time class="col s2" datetime="{{ message.timestamp.strftime('%b %d, %Y %I:%M %p') }}">
        <span>{{ message.timestamp.strftime('%b %d, %Y') }}</span>
        <span>{{ message.timestamp.strftime('%I:%M %p') }}</span>
      </time>

      <div class="cbp_tmicon"></div>

      <div class="col offset-s1 s7">
        <span class="black-text flow-text">
            <p>{{ message.description|e }}</p>
        </span>
      </div>
      <div class="col s2">
        {% if message.school == "清華大學" %}
          <img src="static/img/panda.jpg" class="responsive-img circle">
        {% else %}
          <img src="static/img/fox.jpg" class="responsive-img circle">
        {% endif %}
        <span>{{ message.department|e }}</span>
      </div>
    </div>
  </li>
  {% else %}
  <p>還沒有祝福 QQ</p>
  {% endfor %}
</ul>
