<div class="row" style="padding-top:20px;">

  <div class="col s12 m6 l5">
    <div class="card-image">
      <div class="center-align activator" style="padding-top:20px">
        <canvas id="chartpie" width="380" height="250"></canvas>
        <a href="/more" style="font-size:1.2em;text-decoration:underline;" pjax-data>看看我們系怎麼說</a><br>
        <p class="blue-text text-darken-2">
        <a id="go4nthu" class="waves-effect waves-light btn-large white-text red brn tooltipped" href="/blessings" style="font-size:1.5em" data-position="right" data-delay="50" data-tooltip="集氣即可抽獎唷" pjax-data><i class="mdi-action-favorite right"></i>我要集氣</a><br>
        ✩參加集氣活動，萬元獎金等你拿✩
        </p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l4">
    <h6 class="grey-text text-darken-2">最新留言</h6>
    {% include 'list_messages.html' %}
  </div>

  <div class="col s12 m12 l3">
    {% include 'sideview.html' %}
    <p class="center">
    <a href="https://www.facebook.com/meichuwin" style="display:block">
    <img src="static/img/FB_FindUsOnFacebook-144.png">
    <img src="static/img/6.png" height="80px;">
    </a>
    <a href="https://www.facebook.com/nthualumni" style="text-decoration:underline;">國立清華大學校友服務中心</a>
    </p>
  </div>

</div>

<script>
  $(function() {
    var raw = [
      {% for k in counts %}
      {
          value: {{ k[0] }},
          label: "{{ k[1] }}"
      },
      {% endfor %}
    ];
    processChart(raw);
    $('.slider').slider();
    $('.tooltipped').tooltip({delay: 50});
  });
</script>
