<div class="row">
  {% set total = (nthu + nctu) or 1 %}
  <div class="col s6 m6 l6">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="responsive-img activator" src="http://castnet.nctu.edu.tw/files/images_db/253/20100308024629.jpg">
        <span class="card-title">NTHU 熊貓
          <div class="progress life-bar">
            <div class="determinate" style="width: {{ 100*nthu/total }}%"></div>
          </div>
        </span>
      </div>
      <div class="card-content valign-wrapper">
        <a id="go4nthu" class="waves-effect waves-light btn-large purple darken-1 white-text valign">為熊貓集氣{{ nthu }}</a>
      </div>
    </div>
  </div>

  <div class="col s6 m6 l6">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="http://www.pac.nctu.edu.tw/files/enews//html/2012/113/images/113/8.jpg">
        <span class="card-title">NCTU 狐狸
          <div class="progress life-bar">
            <div class="determinate" style="width: {{ 100*nctu/total }}%"></div>
          </div>
        </span>
      </div>
      <div class="card-content valign-wrapper">
        <a id="go4nctu" class="waves-effect waves-light btn-large purple darken-1 white-text valign">為狐狸集氣{{ nctu }}</a>
      </div>
    </div>
  </div>

</div>
