<nav id="header" class="z-depth-2">
  <div class="nav-wrapper purple lighten-2">
    <a href="#" class="brand-logo right">許梅竹一個未來</a>
    <ul id="nav-mobile" class="left side-nav">
      <li><a href="/index" data-pjax><span>首頁</span></a></li>
      <li><a href="/content" data-pjax><span>活動說明</span></a></li>
      <li><a href="/blessings" data-pjax><span>祝福</span></a></li>
      <li><a href="/photo" data-pjax><span>歷屆照片</span></a></li>
    </ul>
    <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
