
<style media="screen">
.item{
  box-shadow: 10px 10px 5px #888888;
  max-width: 300px;
  max-height: 300px;
}
</style>


<div class="row" style="padding-top:20px;">
  <div class="col offset-s1 s10 center-align">
    <a href="https://picasaweb.google.com/data/feed/base/user/103449317412346247800/albumid/6112595503038439665" class="album">乙未梅竹</a>
    <a href="" class="album">甲午梅竹</a>
  </div>
</div>

<div id="output">

</div>

{% raw %}
<script id="template" type="text/x-jquery-template">
  <div id="photo">
    <div id="_container">
    {{each photos}}
    <img class="item" src="${src}" alt="" />
    {{/each}}
    </div>
  </div>
</script>
{% endraw %}

<script>
$(function(){

  $('.album').click(function(){getalbum($(this).attr('href'));return false;});

  function getalbum(url) {
    $.ajax({
        dataType: 'jsonp',
        url: url,
        data: {
            alt: 'json-in-script',
        },
        jsonpCallback: 'picasaCallback',
        success: function(data){
            var photos = [];
            $.each(data.feed.entry, function(){
                photos.push({
                    src: this.content.src
                });
            });
            $('#output').empty();
            $('#template').tmpl({
                photos: photos
            }).appendTo('#output');
        },
        error: function(){
        }
    });
  }
});
</script>
<script>
  var $container = $('#_container');
  // initialize
  $container.imagesLoaded( function() {
    $container.masonry({
      itemSelector: '.item',
      columWidth: 200,
      isAnimated: true
    });
  });
</script>
