  <h6 class="grey-text text-darken-2">最新消息</h6>
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="https://lh3.googleusercontent.com/-O0tE2tLl8ew/VNRNOoGgNhI/AAAAAAAAAAw/MV3Y72hzAKI/170505_593cf4f8.jpg">
        <div class="caption center-align">
          <h3> 紀念商品開放預購囉!!!</h3>
          <h5 class="light grey-text text-lighten-3">
      快來選購你的梅竹時尚配件吧 ^0^<br>
      <a href="http://nthumeichuwork.appspot.com/product.html">/預購網站/</a>
      <a href="http://nthumeichuwork.appspot.com/rules.html">/預購規則/</a>
          </h5>
        </div>
      </li>
      <li>
        <img src="https://lh5.googleusercontent.com/-9LoOqdv2ckc/VNRNOorONzI/AAAAAAAAAAo/fsgDhNgNbZI/170486_9d20b86c.jpg">
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lh5.googleusercontent.com/-QmlgGOrx5ZU/VNRNRxK1-KI/AAAAAAAAABs/EY1qWQZAXvg/gallery_2880_7215796_55491.jpg">
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lh6.googleusercontent.com/-7buPiC7Immc/VNRNRf5En7I/AAAAAAAAABQ/91kkL2FURZ0/gallery_2880_2187353_55491.jpg">
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
