.bg {
    background: url('../img/header.jpg') no-repeat center;
    background-size: 100%;
    height: 180px;
    padding-top: 40px;
}
.indicator {
    background-color: #AB47BC !important;
}
.tabs li a {
    color: #AB47BC !important;
    font-size: 1.2em;
}

li .row {
    margin-bottom:0;
}
.progress-label {
    position: absolute;
    left: 20%;
    top: 4px;
    color: #AC3748;
}

.ui-progressbar {
    position: relative;
}
