{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
	    {% if category == 'share' %}
	    <p>
	        <form id="website-share-form" class="well"
	    	    action="{{ url_for('update_message', message_id=message)  }}" method="post" accept-charset="utf-8">
		    <fieldset>
		    {{ form.hidden_tag() }}
                    <div class="control-group">
                        <div class="controls">
                            <input class="btn btn-primary" type="submit" value="分享"/>
                        </div>
                    </div>
		    </fieldset>
	        </form>
	    </p>
	    {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}
